<div th:fragment="navigation">
  <nav class="navbar navbar-light" style="background-color: #28a745;">
			<div>
				<a href="#" class="navbar-brand" style="color: white;"> TP3 - BOUJAMZA Meriem </a>
			</div>

			<ul class="navbar-nav" style = "flex-direction: row !important;">
			<li><a th:href="@{/greeting}"
					class="nav-link" style="color: white;margin:4px;">Home </a></li>
				<li><a th:href="@{/addresse}"
					class="nav-link" style="color: white;margin:4px;">Ajouter adresse </a></li>
			</ul>
			
		</nav>
</div>


